* Imports do projeto

In [1]:
import os, sys, datetime
import pandas
import django

# Exercício1 - Configuração do projeto

1. Neste primeiro exercício, é necessário iniciar o setup do projeto. Para isso, é necessário um arquivo de configuração, definir qual o enviroment do projeto e iniciar o setup.

2. Para gerar o arquivo de configurações, é necessário inicializar o projeto django, utilizando o comnado `django-admin startproject music_project`.

3. Para gerar o primeiro app, utilizamos: `django-admin startapp music`.

4. Por fim, após gerado o projeto e o app, precisamos colocar `music` dentro dos `INSTALLED_APPS` nas configurações.

In [2]:
# Setando os enviroments
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'music_project.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

django.setup()

# Exercício 2 - Criação do Modelo e efetivação das consultas

* 2.1 - Criando os models. Eles são definidos como uma classe, em que cada campo estático possui seu tipo basedo nos `Models`. Para visualizar as classes construidas, olhe o arquivo `/music_project/music/models.py`

* 2.2 - Rodar as migrações. As migrações são arquivos gerados pelo django que podem ser gerados para serem executados no sqlite e criar as tabelas. Para isso, devemos executar os comando `python3 manage.py makemigrations`, para criar as migrations, e `python3 manage.py migrate` para executa-las.

* 2.3 - Criando instancias e testando os modelos criados:

**(1)** crie algumas instancias de musica e estilos musicais e faça algumas bandas.

Para isso será criado instancias dos modeles a partir do comando `[Classe do modelo].objects.create`. Algumas relações precisam de dados de outras tabelas, para isso utilizaremos o método `[Nome da instancia].[coluna].add`

In [3]:
import music.models as models

# Genres
genres = [
  { 'name': 'Rock', 'description': 'Rock music' },
  { 'name': 'Pop', 'description': 'Pop music' },
  { 'name': 'Rap', 'description': 'Rap music' },
]
models.Genre.objects.bulk_create([models.Genre(**genre) for genre in genres])

# Musicians
musicians = [
  # Beatles
  { 'name': 'John Lennon', 'birth_date': datetime.date(1940, 10, 9) },
  { 'name': 'Paul McCartney', 'birth_date': datetime.date(1942, 6, 18) },
  { 'name': 'George Harrison', 'birth_date': datetime.date(1943, 2, 25) },
  { 'name': 'Ringo Starr', 'birth_date': datetime.date(1940, 7, 7) },
  
  # Rolling Stones
  { 'name': 'Mick Jagger', 'birth_date': datetime.date(1943, 7, 26) },
  { 'name': 'Keith Richards', 'birth_date': datetime.date(1943, 12, 18) },
  
  # Linkin Park
  { 'name': 'Chester Bennington', 'birth_date': datetime.date(1976, 3, 20) },
  
  # The Weeknd
  { 'name': 'Abel Tesfaye', 'birth_date': datetime.date(1990, 2, 16) },
  
  # Post Malone
  { 'name': 'Austin Post', 'birth_date': datetime.date(1995, 7, 4) },
]
models.Musician.objects.bulk_create([models.Musician(**musician) for musician in musicians])

# Albums
albums = [
  # Beatles
  { 'name': 'Abbey Road', 'release_date': datetime.date(1969, 9, 26), 'genre': models.Genre.objects.get(name='Rock'), 'musicians': [models.Musician.objects.get(name='John Lennon'), models.Musician.objects.get(name='Paul McCartney'), models.Musician.objects.get(name='George Harrison'), models.Musician.objects.get(name='Ringo Starr')] },
  { 'name': 'Let It Be', 'release_date': datetime.date(1970, 5, 8), 'genre': models.Genre.objects.get(name='Rock'), 'musicians': [models.Musician.objects.get(name='John Lennon'), models.Musician.objects.get(name='Paul McCartney'), models.Musician.objects.get(name='George Harrison'), models.Musician.objects.get(name='Ringo Starr')] },
  
  # Rolling Stones
  { 'name': 'Sticky Fingers', 'release_date': datetime.date(1971, 4, 23), 'genre': models.Genre.objects.get(name='Rock'), 'musicians': [models.Musician.objects.get(name='Mick Jagger'), models.Musician.objects.get(name='Keith Richards')] },
  
  # Linkin Park
  { 'name': 'Hybrid Theory', 'release_date': datetime.date(2000, 10, 24), 'genre': models.Genre.objects.get(name='Rock'), 'musicians': [models.Musician.objects.get(name='Chester Bennington')] },
  { 'name': 'Meteora', 'release_date': datetime.date(2003, 3, 25), 'genre': models.Genre.objects.get(name='Rock'), 'musicians': [models.Musician.objects.get(name='Chester Bennington')] },
  
  # The Weeknd
  { 'name': 'Starboy', 'release_date': datetime.date(2016, 11, 25), 'genre': models.Genre.objects.get(name='Pop'), 'musicians': [models.Musician.objects.get(name='Abel Tesfaye')] },
  { 'name': 'After Hours', 'release_date': datetime.date(2020, 3, 20), 'genre': models.Genre.objects.get(name='Pop'), 'musicians': [models.Musician.objects.get(name='Abel Tesfaye')] },
  { 'name': 'Dawn FM', 'release_date': datetime.date(2022, 1, 7), 'genre': models.Genre.objects.get(name='Pop'), 'musicians': [models.Musician.objects.get(name='Abel Tesfaye')] },
  
  # Post Malone
  { 'name': 'Stoney', 'release_date': datetime.date(2016, 12, 9), 'genre': models.Genre.objects.get(name='Rap'), 'musicians': [models.Musician.objects.get(name='Austin Post')] },
  { 'name': 'Beerbongs & Bentleys', 'release_date': datetime.date(2018, 4, 27), 'genre': models.Genre.objects.get(name='Rap'), 'musicians': [models.Musician.objects.get(name='Austin Post')] },
  { 'name': 'Hollywood\'s Bleeding', 'release_date': datetime.date(2019, 9, 6), 'genre': models.Genre.objects.get(name='Rap'), 'musicians': [models.Musician.objects.get(name='Austin Post')] },
]
albums_models = models.Album.objects.bulk_create([models.Album(name=album["name"], release_date=album["release_date"], genre=album["genre"]) for album in albums])
for album in albums:
  models.Album.objects.get(name=album["name"]).musicians.set(album.id for album in album["musicians"])

# Songs
songs = [
  # Beatles
  { 'name': 'Come Together', 'album': models.Album.objects.get(name='Abbey Road'), 'url': 'https://www.youtube.com/watch?v=0fNGg4b8XNc/' },
  { 'name': 'Something', 'album': models.Album.objects.get(name='Abbey Road'), 'url': 'https://www.youtube.com/watch?v=UKuJLHjCvMw/' },
  { 'name': 'Here Comes The Sun', 'album': models.Album.objects.get(name='Abbey Road'), 'url': 'https://www.youtube.com/watch?v=U6tV11acSRk/' },
  { 'name': 'Let It Be', 'album': models.Album.objects.get(name='Let It Be'), 'url': 'https://www.youtube.com/watch?v=2xDzVZcqtYI/' },
  { 'name': 'Across The Universe', 'album': models.Album.objects.get(name='Let It Be'), 'url': 'https://www.youtube.com/watch?v=AZw5hFz_2zA/' },
  { 'name': 'Get Back', 'album': models.Album.objects.get(name='Let It Be'), 'url': 'https://www.youtube.com/watch?v=5C6Yf8bKb0k/' },
  
  # Rolling Stones
  { 'name': 'Brown Sugar', 'album': models.Album.objects.get(name='Sticky Fingers'), 'url': 'https://www.youtube.com/watch?v=1jgk6Dg8f5Y/' },
  { 'name': 'Wild Horses', 'album': models.Album.objects.get(name='Sticky Fingers'), 'url': 'https://www.youtube.com/watch?v=0VR3dfZf9Yg/' },
  { 'name': 'Can\'t You Hear Me Knocking', 'album': models.Album.objects.get(name='Sticky Fingers'), 'url': 'https://www.youtube.com/watch?v=3fa4HUiFJ6c/' },
  
  # Linkin Park
  { 'name': 'Papercut', 'album': models.Album.objects.get(name='Hybrid Theory'), 'url': 'https://www.youtube.com/watch?v=vjVkXlxsO8Q/' },
  { 'name': 'One Step Closer', 'album': models.Album.objects.get(name='Hybrid Theory'), 'url': 'https://www.youtube.com/watch?v=4qlCC1GOwFw/' },
  { 'name': 'Crawling', 'album': models.Album.objects.get(name='Hybrid Theory'), 'url': 'https://www.youtube.com/watch?v=Gd9OhYroLN0/' },
  { 'name': 'Somewhere I Belong', 'album': models.Album.objects.get(name='Meteora'), 'url': 'https://www.youtube.com/watch?v=zsCD5XCu6CM/' },
  { 'name': 'Faint', 'album': models.Album.objects.get(name='Meteora'), 'url': 'https://www.youtube.com/watch?v=LYU-8IFcDPw/' },
  { 'name': 'Numb', 'album': models.Album.objects.get(name='Meteora'), 'url': 'https://www.youtube.com/watch?v=kXYiU_JCYtU/' },
  
  # The Weeknd
  { 'name': 'Starboy', 'album': models.Album.objects.get(name='Starboy'), 'url': 'https://www.youtube.com/watch?v=34Na4j8AVgA/' },
  { 'name': 'I Feel It Coming', 'album': models.Album.objects.get(name='Starboy'), 'url': 'https://www.youtube.com/watch?v=qFLhGq0060w/' },
  { 'name': 'Blinding Lights', 'album': models.Album.objects.get(name='After Hours'), 'url': 'https://www.youtube.com/watch?v=4NRXx6U8ABQ/' },
  { 'name': 'Save Your Tears', 'album': models.Album.objects.get(name='After Hours'), 'url': 'https://www.youtube.com/watch?v=XXYlFuWEuKI/' },
  { 'name': 'Take My Breath', 'album': models.Album.objects.get(name='Dawn FM'), 'url': 'https://www.youtube.com/watch?v=5s7_WbiR79E/' },
  
  # Post Malone
  { 'name': 'White Iverson', 'album': models.Album.objects.get(name='Stoney'), 'url': 'https://www.youtube.com/watch?v=SLsTskih7_I/' },
  { 'name': 'Congratulations', 'album': models.Album.objects.get(name='Stoney'), 'url': 'https://www.youtube.com/watch?v=SC4xMk98Pdc/' },
  { 'name': 'Rockstar', 'album': models.Album.objects.get(name='Beerbongs & Bentleys'), 'url': 'https://www.youtube.com/watch?v=UceaB4D0jpo/' },
  { 'name': 'Psycho', 'album': models.Album.objects.get(name='Beerbongs & Bentleys'), 'url': 'https://www.youtube.com/watch?v=au2n7VVGv_c/' },
  { 'name': 'Circles', 'album': models.Album.objects.get(name='Hollywood\'s Bleeding'), 'url': 'https://www.youtube.com/watch?v=wXhTHyIgQ_U/' },
]
models.Song.objects.bulk_create([models.Song(**song) for song in songs])

# Band
bands = [
  { 'name': 'The Beatles', 'musicians': [models.Musician.objects.get(name='John Lennon'), models.Musician.objects.get(name='Paul McCartney'), models.Musician.objects.get(name='George Harrison'), models.Musician.objects.get(name='Ringo Starr')] },
  { 'name': 'The Rolling Stones', 'musicians': [models.Musician.objects.get(name='Mick Jagger'), models.Musician.objects.get(name='Keith Richards')] },
  { 'name': 'Linkin Park', 'musicians': [models.Musician.objects.get(name='Chester Bennington')] },
  { 'name': 'The Weeknd', 'musicians': [models.Musician.objects.get(name='Abel Tesfaye')] },
  { 'name': 'Post Malone', 'musicians': [models.Musician.objects.get(name='Austin Post')] },
]
models.Band.objects.bulk_create([models.Band(name=band["name"]) for band in bands])
for band in bands:
  models.Band.objects.get(name=band["name"]).musicians.set(m.id for m in band["musicians"])

Testando os dados instanciados

In [4]:
import django.db.models as models
import music.models as mm

* Genre

In [5]:
genre = mm.Genre.objects.all().annotate(genre_name=models.F('name'), genre_description=models.F("description")).values('genre_name', 'genre_description')
pandas.DataFrame(genre)

  genre_name genre_description
0       Rock        Rock music
1        Pop         Pop music
2        Rap         Rap music

* Musicians

In [6]:
musics = mm.Musician.objects.all().annotate(musician_name=models.F('name'), musician_birth_date=models.F('birth_date')).values('musician_name', 'musician_birth_date')
pandas.DataFrame(musics)

        musician_name musician_birth_date
0         John Lennon          1940-10-09
1      Paul McCartney          1942-06-18
2     George Harrison          1943-02-25
3         Ringo Starr          1940-07-07
4         Mick Jagger          1943-07-26
5      Keith Richards          1943-12-18
6  Chester Bennington          1976-03-20
7        Abel Tesfaye          1990-02-16
8         Austin Post          1995-07-04

* Albums

In [7]:
albums = mm.Album.objects.all().annotate(album_name=models.F('name'), album_release_date=models.F('release_date'), album_genre=models.F('genre__name')).values('album_name', 'album_release_date', 'album_genre')
pandas.DataFrame(albums)

              album_name album_release_date album_genre
0             Abbey Road         1969-09-26        Rock
1              Let It Be         1970-05-08        Rock
2         Sticky Fingers         1971-04-23        Rock
3          Hybrid Theory         2000-10-24        Rock
4                Meteora         2003-03-25        Rock
5                Starboy         2016-11-25         Pop
6            After Hours         2020-03-20         Pop
7                Dawn FM         2022-01-07         Pop
8                 Stoney         2016-12-09         Rap
9   Beerbongs & Bentleys         2018-04-27         Rap
10  Hollywood's Bleeding         2019-09-06         Rap

* Songs

In [8]:
songs = mm.Song.objects.all().annotate(song_name=models.F('name'), song_album=models.F('album__name'), song_url=models.F('url')).values('song_name', 'song_album', 'song_url')
pandas.DataFrame(songs)

,song_name,song_album,song_url
0,Come Together,Abbey Road,https://www.youtube.com/watch?v=0fNGg4b8XNc/
1,Something,Abbey Road,https://www.youtube.com/watch?v=UKuJLHjCvMw/
2,Here Comes The Sun,Abbey Road,https://www.youtube.com/watch?v=U6tV11acSRk/
3,Let It Be,Let It Be,https://www.youtube.com/watch?v=2xDzVZcqtYI/
4,Across The Universe,Let It Be,https://www.youtube.com/watch?v=AZw5hFz_2zA/
5,Get Back,Let It Be,https://www.youtube.com/watch?v=5C6Yf8bKb0k/
6,Brown Sugar,Sticky Fingers,https://www.youtube.com/watch?v=1jgk6Dg8f5Y/
7,Wild Horses,Sticky Fingers,https://www.youtube.com/watch?v=0VR3dfZf9Yg/
8,Can't You Hear Me Knocking,Sticky Fingers,https://www.youtube.com/watch?v=3fa4HUiFJ6c/
9,Papercut,Hybrid Theory,https://www.youtube.com/watch?v=vjVkXlxsO8Q/
10,One Step Closer,Hybrid Theory,https://www.youtube.com/watch?v=4qlCC1GOwFw/
11,Crawling,Hybrid Theory,https://www.youtube.com/watch?v=Gd9OhYroLN0/
12,Somewhere I Belong,Meteora,https://www.youtube.com/watch?v=zsCD5XCu6CM/
13,Faint,Meteora,https://www.youtube.com/watch?v=LYU-8IFcDPw/
14,Numb,Meteora,https://www.youtube.com/watch?v=kXYiU_JCYtU/
15,Starboy,Starboy,https://www.youtube.com/watch?v=34Na4j8AVgA/
16,I Feel It Coming,Starboy,https://www.youtube.com/watch?v=qFLhGq0060w/
17,Blinding Lights,After Hours,https://www.youtube.com/watch?v=4NRXx6U8ABQ/
18,Save Your Tears,After Hours,https://www.youtube.com/watch?v=XXYlFuWEuKI/
19,Take My Breath,Dawn FM,https://www.youtube.com/watch?v=5s7_WbiR79E/
20,White Iverson,Stoney,https://www.youtube.com/watch?v=SLsTskih7_I/
21,Congratulations,Stoney,https://www.youtube.com/watch?v=SC4xMk98Pdc/
22,Rockstar,Beerbongs & Bentleys,https://www.youtube.com/watch?v=UceaB4D0jpo/
23,Psycho,Beerbongs & Bentleys,https://www.youtube.com/watch?v=au2n7VVGv_c/
24,Circles,Hollywood's Bleeding,https://www.youtube.com/watch?v=wXhTHyIgQ_U/

* Bands

In [9]:
bands = mm.Band.objects.all().annotate(band_name=models.F('name')).values('band_name')
pandas.DataFrame(bands)

            band_name
0         The Beatles
1  The Rolling Stones
2         Linkin Park
3          The Weeknd
4         Post Malone

**(2)** exclua e atualize alguns elementos

Para excluir e atualizar, devemos utilizar os comandos `update` e `delete`

* Update

In [10]:
mm.Band.objects.filter(musicians__name='John Lennon').update(name='The Beatles - Remake')

bands = mm.Band.objects.all().annotate(band_name=models.F('name')).values('band_name')
pandas.DataFrame(bands)

              band_name
0  The Beatles - Remake
1    The Rolling Stones
2           Linkin Park
3            The Weeknd
4           Post Malone

* Delete

In [11]:
mm.Musician.objects.filter(name='George Harrison').delete()
mm.Musician.objects.filter(name='Ringo Starr').delete()

musics = mm.Musician.objects.all().annotate(musician_name=models.F('name'), musician_birth_date=models.F('birth_date')).values('musician_name', 'musician_birth_date')
pandas.DataFrame(musics)

        musician_name musician_birth_date
0         John Lennon          1940-10-09
1      Paul McCartney          1942-06-18
2         Mick Jagger          1943-07-26
3      Keith Richards          1943-12-18
4  Chester Bennington          1976-03-20
5        Abel Tesfaye          1990-02-16
6         Austin Post          1995-07-04

**(3)** exiba todas as bandas de um determinado estilo musical. Tal estilo deve ser passado como filtro na consulta.

Para esta atividade faremos a consulta com base nas bandas de rock e utilizaremos o comando `filter`

In [12]:
bands = mm.Band.objects.all()\
  .filter(musicians__album__genre__name='Rock')\
  .annotate(
    band_name=models.F('name'),
    band_genre=models.F('musicians__album__genre__name'),        
  )\
  .values('band_name', 'band_genre')\
  .distinct()
  
pandas.DataFrame(bands)

              band_name band_genre
0  The Beatles - Remake       Rock
1    The Rolling Stones       Rock
2           Linkin Park       Rock

**(4)** Para consulta apresentada em *(3)*, para cada banda, navegue por todos os musicos e imprima seus nomes, sua banda e estilo musical. Para isso, você deverá usar o conjunto de músicos [veja aqui como fazer](https://docs.djangoproject.com/en/5.0/topics/db/queries/#lookups-that-span-relationships).

In [13]:
bands = mm.Band.objects.all()\
  .filter(musicians__album__genre__name='Rock')\
  .annotate(
    band_name=models.F('name'),
    band_genre=models.F('musicians__album__genre__name'),
    musician_name=models.F('musicians__name'),        
  )\
  .values('band_name', 'band_genre', 'musician_name')\
  .distinct()
  
pandas.DataFrame(bands)

              band_name band_genre       musician_name
0  The Beatles - Remake       Rock         John Lennon
1  The Beatles - Remake       Rock      Paul McCartney
2    The Rolling Stones       Rock         Mick Jagger
3    The Rolling Stones       Rock      Keith Richards
4           Linkin Park       Rock  Chester Bennington

**(5)** Crie o atributo gênero para o músico (feminino ou masculino) e filtre, na consulta *3* apenas bandas que possuem mulheres. Veja o link do exercício anterior para entender melhor como fazer

* Primeiramente, vamos adicionar uma banda composta apenas por mulheres

In [14]:
# Female Musicians
musicians = [
  { 'name': 'Adele', 'birth_date': datetime.date(1988, 5, 5), 'gender': 'F' },
  { 'name': 'Beyoncé', 'birth_date': datetime.date(1981, 9, 4), 'gender': 'F' },
  { 'name': 'Taylor Swift', 'birth_date': datetime.date(1989, 12, 13), 'gender': 'F' },
]
mm.Musician.objects.bulk_create([mm.Musician(**musician) for musician in musicians])

# Albums
albums = [
  { 'name': '21', 'release_date': datetime.date(2011, 1, 24), 'genre': mm.Genre.objects.get(name='Pop'), 'musicians': [mm.Musician.objects.get(name='Adele')] },
  { 'name': 'Lemonade', 'release_date': datetime.date(2016, 4, 23), 'genre': mm.Genre.objects.get(name='Pop'), 'musicians': [mm.Musician.objects.get(name='Beyoncé')] },
  { 'name': '1989', 'release_date': datetime.date(2014, 10, 27), 'genre': mm.Genre.objects.get(name='Pop'), 'musicians': [mm.Musician.objects.get(name='Taylor Swift')] },
]
mm.Album.objects.bulk_create([mm.Album(name=album["name"], release_date=album["release_date"], genre=album["genre"]) for album in albums])
for album in albums:
  mm.Album.objects.get(name=album["name"]).musicians.set(album.id for album in album["musicians"])

# Songs
songs = [
  { 'name': 'Rolling In The Deep', 'album': mm.Album.objects.get(name='21'), 'url': 'https://www.youtube.com/watch?v=rYEDA3JcQqw/' },
  { 'name': 'Hello', 'album': mm.Album.objects.get(name='21'), 'url': 'https://www.youtube.com/watch?v=YQHsXMglC9A/' },
  { 'name': 'Formation', 'album': mm.Album.objects.get(name='Lemonade'), 'url': 'https://www.youtube.com/watch?v=WDZJPJV__bQ/' },
  { 'name': 'Sorry', 'album': mm.Album.objects.get(name='Lemonade'), 'url': 'https://www.youtube.com/watch?v=QxsmWxxouIM/' },
  { 'name': 'Shake It Off', 'album': mm.Album.objects.get(name='1989'), 'url': 'https://www.youtube.com/watch?v=nfWlot6h_JM/' },
  { 'name': 'Blank Space', 'album': mm.Album.objects.get(name='1989'), 'url': 'https://www.youtube.com/watch?v=e-ORhEE9VVg/' },
]
mm.Song.objects.bulk_create([mm.Song(**song) for song in songs])

# Bands
bands = [
  { 'name': 'Adele', 'musicians': [mm.Musician.objects.get(name='Adele')] },
  { 'name': 'Beyoncé', 'musicians': [mm.Musician.objects.get(name='Beyoncé')] },
  { 'name': 'Taylor Swift', 'musicians': [mm.Musician.objects.get(name='Taylor Swift')] },
]
mm.Band.objects.bulk_create([mm.Band(name=band["name"]) for band in bands])
for band in bands:
  mm.Band.objects.get(name=band["name"]).musicians.set(m.id for m in band["musicians"])

* Após este passo, fazemos a busca. Vamos alterar o estilo musical da banda para encontrarmos as bandas que contém mulheres.

In [15]:
bands = mm.Band.objects.all()\
  .filter(
    musicians__album__genre__name='Pop',
    musicians__gender='F'
  )\
  .annotate(
    band_name=models.F('name'),
    band_genre=models.F('musicians__album__genre__name'),
    musician_name=models.F('musicians__name'),        
  )\
  .values('band_name', 'band_genre', 'musician_name')\
  .distinct()
  
pandas.DataFrame(bands)

      band_name band_genre musician_name
0         Adele        Pop         Adele
1       Beyoncé        Pop       Beyoncé
2  Taylor Swift        Pop  Taylor Swift

**(6)** Contabilize a quantidade de musicos por estilo musical.

Para isso, vamos utilizar o comando annotate juntamente com o comando Count.

In [16]:
musicians_per_genre = \
  mm.Musician.objects.all()\
    .values('album__genre__name')\
    .annotate(
      genre_name = models.F('album__genre__name'),
      musicians_count=models.Count('album__genre__name')
    )\
    .values('genre_name', 'musicians_count')

pandas.DataFrame(musicians_per_genre)

  genre_name  musicians_count
0        Pop                6
1        Rap                3
2       Rock                8

**(7)** Contabilize a quantidade de músicos por banda que possuem pelo menos uma mulher.

A lógica utilizada será o mesmo da atividade *5*, misturado com a do exercício *6*.

In [17]:
bands = mm.Band.objects.all()\
  .filter(
    musicians__gender='F'
  )\
  .annotate(
    band_name=models.F('name'),
    band_woman_count=models.Count('musicians')
  )\
  .values('band_name', 'band_woman_count')\
  .distinct()
  
pandas.DataFrame(bands)

      band_name  band_woman_count
0         Adele                 1
1       Beyoncé                 1
2  Taylor Swift                 1

**(8)** Apresente as bandas na qual todas as musicistas são mulheres

* Para esta atividade, adicionaremos uma banda mista

In [18]:
# Musician Evanescence
musicians = [
  { 'name': 'Amy Lee', 'birth_date': datetime.date(1981, 12, 13), 'gender': 'F' },
  { 'name': 'Emma Anzai', 'birth_date': datetime.date(1981, 4, 30), 'gender': 'F'},
  { 'name': 'Will Hunt', 'birth_date': datetime.date(1971, 9, 5), 'gender': 'M'}
]
mm.Musician.objects.bulk_create([mm.Musician(**musician) for musician in musicians])

# Album Evanescence
albums = [
  { 'name': 'Fallen', 'release_date': datetime.date(2003, 3, 4), 'genre': mm.Genre.objects.get(name='Rock'), 'musicians': [mm.Musician.objects.get(name='Amy Lee')] },
  { 'name': 'The Open Door', 'release_date': datetime.date(2006, 9, 25), 'genre': mm.Genre.objects.get(name='Rock'), 'musicians': [mm.Musician.objects.get(name='Amy Lee')] },
  { 'name': 'Evanescence', 'release_date': datetime.date(2011, 10, 7), 'genre': mm.Genre.objects.get(name='Rock'), 'musicians': [mm.Musician.objects.get(name='Amy Lee')] },
]
mm.Album.objects.bulk_create([mm.Album(name=album["name"], release_date=album["release_date"], genre=album["genre"]) for album in albums])
for album in albums:
  mm.Album.objects.get(name=album["name"]).musicians.set(album.id for album in album["musicians"])
  
# Song Evanescence
songs = [
  { 'name': 'Bring Me To Life', 'album': mm.Album.objects.get(name='Fallen'), 'url': 'https://www.youtube.com/watch?v=3YxaaGgTQYM/' },
  { 'name': 'My Immortal', 'album': mm.Album.objects.get(name='Fallen'), 'url': 'https://www.youtube.com/watch?v=5anLPw0Efmo/' },
  { 'name': 'Call Me When You\'re Sober', 'album': mm.Album.objects.get(name='The Open Door'), 'url': 'https://www.youtube.com/watch?v=izyZLKIWGiA/' },
  { 'name': 'Lithium', 'album': mm.Album.objects.get(name='The Open Door'), 'url': 'https://www.youtube.com/watch?v=PJGpsL_XYQI/' },
  { 'name': 'What You Want', 'album': mm.Album.objects.get(name='Evanescence'), 'url': 'https://www.youtube.com/watch?v=wXCD0oLzyZM/' },
  { 'name': 'My Heart Is Broken', 'album': mm.Album.objects.get(name='Evanescence'), 'url': 'https://www.youtube.com/watch?v=f1QGnq9jUU0/' },
]
mm.Song.objects.bulk_create([mm.Song(**song) for song in songs])

# Band Evanescence
bands = [
  { 'name': 'Evanescence', 'musicians': [mm.Musician.objects.get(name='Amy Lee'), mm.Musician.objects.get(name='Emma Anzai'), mm.Musician.objects.get(name='Will Hunt')] },
]
mm.Band.objects.bulk_create([mm.Band(name=band["name"]) for band in bands])
for band in bands:
  mm.Band.objects.get(name=band["name"]).musicians.set(m.id for m in band["musicians"])

* Repetindo a query da atividade anterior

In [22]:
bands = mm.Band.objects.all()\
  .filter(
    musicians__gender='F'
  )\
  .annotate(
    band_name=models.F('name'),
    band_woman_count=models.Count('musicians')
  )\
  .values('band_name', 'band_woman_count')\
  .distinct()
  
pandas.DataFrame(bands)

      band_name  band_woman_count
0         Adele                 1
1       Beyoncé                 1
2  Taylor Swift                 1
3   Evanescence                 2

* Fazendo a query

In [21]:
bands = mm.Band.objects.all()\
  .exclude(
    musicians__gender='M'
  )\
  .annotate(
    band_name=models.F('name'),
  )\
  .values('band_name')\
  .distinct()
  
pandas.DataFrame(bands)

      band_name
0         Adele
1       Beyoncé
2  Taylor Swift